.error-invalid-creds {
  position: relative;
}
.error-invalid-creds::after {
  content: "Invalid username/password";
  color: rgba(255, 0, 0, 0.804);
  position: absolute;
  font-size: 1.2rem;
  top: 5rem;
  left: 0;
  font-weight: 500;
}

.error {
  border: 2px solid rgba(255, 0, 0, 0.804);
}
